[submodule "Vendor/mgba"]
	path = Vendor/mgba
	url = https://github.com/mgba-emu/mgba.git
[submodule "Vendor/melonds"]
	path = Vendor/melonds
	url = https://github.com/melonDS-emu/melonDS.git
[submodule "Vendor/mesence"]
	path = Vendor/mesence
	url = https://github.com/nesdev-org/MesenCE.git
[submodule "Vendor/pcsx_rearmed"]
	path = Vendor/pcsx_rearmed
	url = https://github.com/libretro/pcsx_rearmed.git
